!!! 5
%html(ng-app="Person8")
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Starkhorn
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "#{controller_name}.css", :media => "all" if asset_exists?("#{controller_name}.css")
    = csrf_meta_tags

    = yield(:head)
    
  %body
    .container
      .row
        .span12
          = render "shared/navbar"

      .row
        .span12
          %div(ng-view)
            = yield

    = javascript_include_tag "application"
    = javascript_include_tag "#{controller_name}.js" if asset_exists?("#{controller_name}.js")